<div class="panel panel-default">

  <div class="panel-heading"><h3>Project Tech Stack</h3></div>
  <div class="panel-body">
    <p>Below the details for the tech stack.</p>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Framework: AngularJs and native modules</li>
    <li class="list-group-item">Main Library: Dash.js</li>
    <li class="list-group-item">Content Generator: Yeoman &amp; generator-angular</li>
    <li class="list-group-item">Dependency Management: NPM and Bower</li>
    <li class="list-group-item">Source Control: Git (&amp; Github)</li>
  </ul>

</div>
